/* Body */
.grey-bg {
    background-color: rgb(52, 60, 63); 
}
/*
.container {
    background-color: #D5F5FA;
}
.container-fluid {
    background-color: #99AEB1;
}

.row {
    background-color: #A59BB6;
}

.col {
    background-color: #D4B6C9;
}*/

/* Styles */

/* header*/

/* Fin header */
 
/* Login */

/* Fin Login */

/* Fin dashboard */

/* Fin dashboard */